.profile__page {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  border: none;
  font-size: 20px;
  font-weight: 700px;
  gap: 8px;
  margin-top: 24px;
}

.profile__change-data {
  border: none;
  background: transparent;
  text-align: left;
}

.profile__signout {
  border: none;
  background: transparent;
  text-align: left;
}

.edit-profile-modal {
  visibility: visible;
}